@section Styles{
    <link rel="stylesheet" href="~/css/Home/home.css" asp-append-version="true" />
}


<div class="row">
    <div class="col-lg-6">
        <div class="texto-titulo">
            <p>Sobre o BlastoiseApp</p>
        </div>
        <p class="text-start fs-4 text">
            Bem-vindo ao nosso site, um espaço feito especialmente para fãs de Pokémons e de tecnologia!
        </P>
        <p class="text-start fs-5">
            Aqui, você tem total controle sobre sua própria coleção de Pokémons. Você pode criar, visualizar, atualizar e excluir Pokémons de forma prática e divertida. Tudo isso em uma plataforma intuitiva, pensada para facilitar sua navegação e deixar a experiência o mais agradável possível.
        </p>    
    </div>

    <div class="col-lg-6">
        <img src="https://i.pinimg.com/736x/81/d5/e0/81d5e0ec69df1765ad7b023e4cb62f84.jpg" class="img-fluid" alt="Pokemon">
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <div class="position-relative d-inline-block">
            <img src="https://corporate.pokemon.com/inclusion-e5c9974044dcbcdfab57b3370da91652.jpg" class="img-fluid mt-5 rounded-3" alt="Imagem base">
        </div>
    </div>
  
    <div class="col-lg-7">
        <p class="m-5 pt-5 fs-5 fw-bolder text-danger">
            O universo Pokémon une pessoas ao redor do mundo, sendo querido por crianças, adultos e treinadores de todas as idades. Essas criaturas extraordinárias ultrapassaram fronteiras e barreiras linguísticas, conquistando o carinho de milhões ao longo de mais de 25 anos.
        </p>
    </div>
</div>

<div class="my-5"></div>

<div class="row">
    <div class="col">
        <div class="d-flex p-4 bg-warning shadow">
            <p class="fst-italic fs-5 fw-bold">Pokémon foi lançado no Japão em 1996 e hoje é um dos títulos de entretenimento infantil mais populares do mundo.<br />Conheça um pouco da história com os seus principais marcos da franquia Pokémon, desde sua criação até os dias atuais:</p>
        </div>
    </div>
</div>

<div class="my-5"></div>

<div class="row">
    <div class="col-lg-5">
        <div class="text-center mt-3">
            <img src="https://i.pinimg.com/736x/ea/f3/68/eaf368f234c042f2225aa6d6e114c986.jpg" class="img-fluid" alt="Pokemons">
        </div>
    </div>

    <div class="col-lg-7 mt-5">
        <div class="container">
            <div class="timeline">
                <div class="card border-warning border-2 mb-3">
                    <div class="card-body text-dark">
                        <h5 class="card-title">1990: A Origem</h5>
                        <p class="card-text">1996 - Lançamento de Pokémon Red e Green no Japão para Game Boy, desenvolvidos pela Game Freak e publicados pela Nintendo.</p>
                    </div>
                </div>

                <div class="card border-warning border-2 mb-3">
                    <div class="card-body text-dark">
                        <h5 class="card-title">2000: Expansão Global</h5>
                        <p class="card-text">2000 - Lançamento da 2ª geração: Pokémon Gold e Silver. <br /> 2002 - 3ª geração: Pokémon Ruby e Sapphire (introduz Hoenn).</p>
                    </div>
                </div>

                <div class="card border-warning border-2 mb-3">
                    <div class="card-body text-dark">
                        <h5 class="card-title">2010: Reinvenção e Popularização Online</h5>
                        <p class="card-text">2013 - Pokémon X e Y (estreia no Nintendo 3DS com gráficos 3D). <br /> 2016 - Lançamento de Pokémon GO (mobile), realidade aumentada.</p>
                    </div>
                </div>

                <div class="card border-warning border-2 mb-3">
                    <div class="card-body text-dark">
                        <h5 class="card-title">2020: Nova Geração e Mundo Aberto</h5>
                        <p class="card-text">Pokémon Legends: Arceus (2022) — abordagem em mundo semiaberto. <br />Pokémon Scarlet e Violet (região de Paldea) — mundo totalmente aberto.</p>
                    </div>
                </div>

                <div class="card border-warning border-2 mb-3">
                    <div class="card-body text-dark">
                        <h5 class="card-title">Atualmente</h5>
                        <p class="card-text">A série Pokémon Horizons (anime com protagonistas inéditos).<br />Continuidade das atualizações de Pokémon GO e novos jogos spin-off.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-11 mx-auto">
        <div class="text-center mt-5 pt-5 fs-3 fw-bolder">Perguntas Frequentes</div>
        <div class="accordion my-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Preciso me cadastrar para usar o site?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Sim! O cadastro é gratuito e garante que sua coleção fique salva e segura. Você também pode entrar com sua conta do Google.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Posso adicionar qualquer Pokémon?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Sim! Você pode adicionar qualquer Pokémon da franquia — desde os clássicos como Bulbasaur até os mais recentes. Também pode criar Pokémons inventados por você!
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Como posso excluir um Pokémon da minha coleção?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Basta clicar no ícone de lixeira ou em "Excluir" no card do Pokémon. Um aviso de confirmação aparecerá para evitar exclusões acidentais.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Posso compartilhar minha coleção com amigos?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Em breve! Estamos desenvolvendo um recurso para você gerar um link público e mostrar sua Pokédex personalizada aos seus amigos.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    O site funciona em celular?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Sim! Toda a plataforma é responsiva, feita com tecnologias modernas como Bootstrap 5, para funcionar bem em celulares, tablets e desktops.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                    Este site é oficial da Pokémon Company?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Não. Este é um projeto feito por fãs, para fãs. Não temos ligação com a Nintendo, Game Freak ou The Pokémon Company.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
