<div class="mx-md-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="my-4"></div>
            <h2 class="text-success text-start">Sobre o BlastoiseApp</h2>
            <div class="my-5"></div>

            <p class="text-start fs-5 text">
                Bem-vindo ao nosso site, um espaço feito especialmente para fãs de Pokémons e de tecnologia!
            </P>
            <p class="text-start fs-6">
                Aqui, você tem total controle sobre sua própria coleção de Pokémons. Você pode criar, visualizar, atualizar e excluir Pokémons de forma prática e divertida. Tudo isso em uma plataforma intuitiva, pensada para facilitar sua navegação e deixar a experiência o mais agradável possível.
            </p>    
            <div class="my-4"></div>

            <div class="row">
               <div class="col-md-8 col-lg-6">
                   <div class="card-body text-light bg-success text-start">
                        <h5 class="card-title">1.025mil</h5>
                        <p class="card-text">Pokémons para cadastrar</p>
                   </div>
               </div>
            </div>
            
        </div>

        <div class="col-lg-3">
            <img src="https://i.pinimg.com/736x/26/53/f0/2653f01fade24fc713a606dd024aa037.jpg" class="img-fluid" alt="Pokemon" width="300">
        </div>

    </div>

</div>
