
<div class="row">
    <div class="col-lg-6">
        <h2 class="fw-semibold">Envie sua mensagem</h2>
        <div class="my-4"></div>
        <p class="fs-5">
            Preencha os dados abaixo:
        </p>
        <form action="#" method="#"> 
                <div class="form-group">
                    <label for="exampleInputName">Nome</label>
                    <input type="text" class="form-control shadow-none mb-3" id="exampleInputName" aria-describedby="nameHelp" placeholder="Seu nome">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" class="form-control shadow-none mb-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control shadow-none mb-3" id="exampleFormControlTextarea1" rows="4" placeholder="Deixe sua dúvida"></textarea>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
         </form>
    </div>
</div>